
body
{

background: url(../img/background.jpg);
}

header 
{	

	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;

}

section 
{

	margin-right: 2%;
	margin-left: 2%;
}

.pad-basic

{
padding:.5%; 
	
}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}

.txt1{
	font-size: 20px;
}

input{
	font-size: 25px;
}