@import "https://fonts.googleapis.com/css?family=Lato:300,400,900";

body {
  font-family: Lato, sans-serif;

  font-size: 100%;

}

.cuadro img{
  width: 80%;
}
.titu{
  background: #D9EDF7;
  width: 300px;
  text-align: center;
  margin-right: -150px;
  margin-top: 10%;
  margin-left: 22%;
}
.cuadro{
  background: #D9EDF7;
  width: 300px;
  height: 300px;
  float: left;
  text-align: center;
  margin-right: -150px;
  margin-top: 10%;
  margin-left: 22%;
}
.cuadro2{
  background: #D9EDF7;
  width: 300px;
  height: 300px;
  float: left;
  text-align: center;
  margin-right: -150px;
  margin-top: 10%;
  margin-left: 14%;
}
.cuadro2 img{
  width: 80%;
}
.txt1{
  font-size: 45px;
  color: #000;
  margin-top: 50px;
  margin-bottom: -50px;
  margin-left: 40%;
}
.txt2{
  font-size: 25px;
  color: #000;
}
.txt3{
  font-size: 25px;
  color: #000;
}
.grid-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.grid-item {
  width: 310px;
  margin: 10px;
  background-color: #3c3b3d;
  overflow: hidden;

}


.status {
  color: #808080;
  text-align: center;
}
.status p:first-child {
  font-weight: 600;
  font-size: 30px;
  color: #FFF;
}


@media screen and (max-width: 980px) {
  .cuadro{
    margin-left: 13%;
  }
  .cuadro2{
    margin-left: 7%;
    width: 250px;
    height: 250px;
    margin-right: -100px;
  }

   .txt3{
    font-size: 18px;
  }
  .cuadro img{
    width: 70%;
  }
}


@media screen and (max-width: 480px) {
  .cuadro{
    margin-left: 10%;
  }
}