

.page {
  height: 80vh;
  width: 75vw;
  padding: 75px;
  margin: auto;
  margin-top: 75px;
  background: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.page h1 {
  font: 300 30px Helvetica, Arial, sans-serif;
}

.refresh {
  background: #FFF url(https://cbwconline.com/IMG/Codepen/Blue%20Refresh.svg) center/36px no-repeat;
  height: 56px;
  width: 56px;
  
  margin-bottom: 5em;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}