@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello.eot?53379001');
  src: url('../../font/fontello.eot?53379001#iefix') format('embedded-opentype'),
       url('../../font/fontello.woff2?53379001') format('woff2'),
       url('../../font/fontello.woff?53379001') format('woff'),
       url('../../font/fontello.ttf?53379001') format('truetype'),
       url('../../font/fontello.svg?53379001#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53379001#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-location-outline:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-download-outline:before { content: '\e805'; } /* '' */
.icon-upload-outline:before { content: '\e806'; } /* '' */
.icon-attach-outline:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-th:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-calendar:before { content: '\e80d'; } /* '' */
.icon-youtube-1:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e810'; } /* '' */
.icon-up-open:before { content: '\e811'; } /* '' */
.icon-right-big:before { content: '\e812'; } /* '' */
.icon-up-big:before { content: '\e813'; } /* '' */
.icon-down-open:before { content: '\e814'; } /* '' */
.icon-twitter-1:before { content: '\e815'; } /* '' */
.icon-twitter-3:before { content: '\e816'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter-2:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */

/**MIS STYLE**/
/**HOVER**/
.icon-menu{
    color: white;
}
.icon-menu:hover {
    color: #3eb060;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/*.icon-mail-alt{
    color: red;
}*/
.icon-location-outline:hover{
 color: #39b54a;
 cursor: pointer; 
}
.icon-angle-circled-up:hover{
 color: #39b54a;
 cursor: pointer;    
}
.icon-phone:hover{
 color: #39b54a;
 cursor: pointer;    
}
.icon-mail-alt:hover{
 color: #39b54a;
 cursor: pointer;   
}

.icon-twitter-1:hover{
  color: #39b54a;
  cursor: pointer;  
}
.icon-facebook:hover{
    color: #39b54a;
    cursor: pointer;
}
.icon-up-open{
    color: white;
    width: 10px;
    height: 10px;
    font-size: 30px;
    text-decoration: none;
}