.contenedor_flotante{
   width:30%;
   position: absolute;
   right: 1%;
   top: 10%;
}

table thead{
    background:#73CAEF !important;
    color:#222;
}
.fa-trash:hover{
    cursor: pointer;
    color: black;
}
.icon-action-undo{
    font-size: 17px;
}
.fa-credit-card{
    font-size: 17px;
}
.fa-download{
    font-size: 25px;
}
.icon-action-undo:hover{
    cursor: pointer;
    color: black;
}
.icon-eye:hover{
    cursor: pointer;
    color: black;
}
.fa-download:hover {
    cursor: pointer;
    color: black;
}
.icon-refresh:hover{
    cursor: pointer;
    color: black;
}
.fa-credit-card:hover{
    cursor: pointer;
    color: black;
}
.fa icon-pencil{
    color: black;
}
td {
    padding: 0;
    border: 1px solid #ddd !important;
}
td {
    padding: 0;
    border:1px;
    vertical-align: inherit;
}
table{
    vertical-align: inherit;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 1px 0px 2px 2px;
    border:1px;
    vertical-align: inherit;
}
textarea {
    resize: none;
}
#td_center{
    text-align:center;
}


input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 1px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid green;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}


.text {
  background-color: red;
  font-size:12px;
  padding: 10px 10px 10px 10px;
  font-weight:bold;
  color:white;
}
.parpadea { 
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/**MI RESPONSIVE**/
 @media screen and (max-width: 479px) {
    #tamano_img_table{
        width: 100%;
        width: 200px !important;
        margin: 0 auto auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }  
    #cont_total{
        width: 100%;
        margin-bottom: 50px !important;
        padding: 20px;
    }
     #cont_total h5{
        margin-top:10px !important;
        text-align: center;
    }
    #title_label{
        font-size: 10px;
    }
    #arch{
        font-size: 14px;
    }
    .ta_audio{
        width: 150px !important;
    }
    .contenedor_flotante{
        width: 100%;
        right: 0%;
    }
}