#tab_central{
    margin: 0 auto;
    width: 95%;

    left: 0;
    right: 0;
}
#test_container{
    position:relative;
    overflow:hidden;
}
#tab_central .test_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#tab_central .testimonial{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
}
#tab_central .testimonial{
    position:absolute;
    width: 99%;
    left:0px;
    top:0px;
    z-index:1;
}

#t_pagers{
    margin: 0 auto;
    width: 50%;
    position: static;
    left:35%;
    bottom:-8px;
    z-index:2;
    border-bottom: 3px solid #34495E;
    background-color: #509ABD;
}
#t_pagers .pager{
    display:inline-block;
    background: #509ABD;
    color: white;
    font-size: 17px;
    padding: 15px 30px 15px 30px;
    position: relative;
    cursor:pointer;
    font-weight: bold;
}
#t_pagers .pager.active{
    background: #21759b;
    color: black;
    font-weight: bold;
}

@media (min-width: 280px) and (max-width: 767px) {
    #t_pagers{
    margin: 0 auto;
    width: 95%;
}
    #t_pagers .pager{
    font-size: 8px;
    padding: 15px 27px 15px 28px;
    }
}