<!-- start: Javascript -->
<script type="text/javascript" src="asset/js/jquery.min.js"></script>
<script type="text/javascript" src="asset/js/jquery.ui.min.js"></script>
<script type="text/javascript" src="asset/js/bootstrap.min.js"></script>


<!-- plugins -->
<script type="text/javascript" src="asset/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="asset/js/plugins/jquery.datatables.min.js"></script>
<script type="text/javascript" src="asset/js/plugins/datatables.bootstrap.min.js"></script>
<script type="text/javascript" src="asset/js/plugins/jquery.nicescroll.js"></script>
<script type="text/javascript" src="asset/js/plugins/jquery.vmap.min.js"></script>
<script type="text/javascript" src="asset/js/plugins/jquery.vmap.sampledata.js"></script>

<!-- custom -->
<script type="text/javascript" src="asset/js/main.js"></script>
