<div id="tab1">

</div>

<div id="tab2">

</div>

<div id="tab3">

</div>

<div id="tab4">

</div>

<div id="exito" class="btn ripple btn-raised btn-success" style="display:none">
La Información fue Guardada Correctamente.
</div>

<div id="exito_color_fondo" class="btn ripple btn-raised btn-success" style="display:none">
El Color de la web fue cambiado Correctamente.
</div>

<div id="exito_color_fondo_insert" class="btn ripple btn-raised btn-success" style="display:none">
El Color de Fondo fue Registrado Correctamente.
</div>

<div class="col-md-12" id="name_error" style="display:none">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>ERROR !</strong> debe Seleccionar una Imagen de Fondo.
    </div>
</div>

<div class="col-md-12" id="delete_theme" style="display:none">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>Felicitaciones !</strong> el Theme fue Borrado Correctamente.
    </div>
</div>

<div id="msj_exito_img_fondo_insert" class="btn ripple btn-raised btn-success" style="display:none">
La Imagen de fondo fue Registrada Correctamente.
</div>

<div id="msj_exito_img_fondo" class="btn ripple btn-raised btn-success" style="display:none">
La Imagen de fondo fue cambiada Correctamente.
</div>