 .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    /*background: rgba(255, 255, 255, 0.6);*/
    background: #fff;
    opacity: 0.7;
}
 .arrows:hover {
    /*background: #fff;*/
    opacity: 0.9;
    cursor: pointer;
}

 .prev-arrow {
    left: 0px;
}
 .next-arrow {
    right: 0px;
}

 .arrows img {
    width: 100%;
    object-fit: cover; /*importante acercal la imgn y le da calidad**/
    /*filter: brightness(80%);*/
}
