html, body {
  background: #0099cc;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
  /*border: 1px dashed crimson;*/
  background-color: #fafafa;
}

.slide_viewer {
  height: 380px;
  overflow: hidden;
  position: relative;
  /*border: 1px solid yellow;*/
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}
.slide img{
    width: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.slide_buttons {
  top: 395px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  //background-color: rgba(255,255,255,.3);
  /*max-width: 400px;
  max-height: 50px;
  border-radius: 25px;
  
  border: 1px solid red;*/
  display:block;
  margin:auto;
  z-index: 999;
}

a.slide_btn {
  color: #0a6076;
  font-size: 70px;
  /*margin: 0 0.175em;*/
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a.slide_btn:hover{
    cursor: pointer;
    color:  #108DB6;
}
.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 5px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 5px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 100px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}