* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #333;
    font-size: 14px;
    overflow-x:hidden; /*para ocultar el scrollhorizontal*/
    background-color: #222; /**#F5F1F0 #565656 #fafafa  #666666**/
}
h1{
    margimargin-top: 50%;
    text-align: center;
    color: crimson;
}

@media (min-width: 280px) and (max-width: 380px) {
    h1{
        font-size: 12px;
        color: #007bff;
    }
}